[alias]
	pr-fetch = "!_(){ git fetch ${2:-upstream} pull/$1/head; }; _"
	pr = "!_(){ git pr-fetch $1 $2; git checkout FETCH_HEAD -B pr-$1; }; _"
	pr-merge = "!_(){ git pr-fetch $1 $2; git merge FETCH_HEAD; }; _"

[filter "clearNotebookOutput"]
	clean = jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace %f
	smudge = cat

[user]
	name = Kira Evans
	email = contact@kne42.me
	signingkey = EC4E9E7125D8E116

[github]
	user = kne42

[core]
	editor = nano
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes_global

[merge]
	log = true

[push]
	followTags = true

[url "git@github.com:"]
	insteadOf = "gh-priv:"
	pushInsteadOf = "gh:"
	pushInsteadOf = "git://github.com/"
	pushInsteadOf = "https://github.com/"

[url "https://github.com/"]
	insteadOf = "gh:"
	insteadOf = "git://github.com/"

[url "git@gitlab.com:"]
        insteadOf = "gl:"
        pushInsteadOf = "gl:"
        pushInsteadOf = "https://gitlab.com/"

[include]
	path = ~/.gitconfig_local
[gpg]
	program = /usr/local/bin/gpg
